
<div class=" = back-button" *ngIf="!onmain">
  <button mat-raised-button color="accent" (click)="OpenMain()">Go to Main Menu</button>
</div>

<div class="example-button-row" *ngIf="onmain">
  <button mat-fab color="primary" (click)="OpenUsers()">Users</button>
  <button mat-fab color="accent" (click)="OpenRoles()">Roles</button>
  <button mat-fab color="warn" (click)="OpenDepts()">Departaments</button>
</div>
<div *ngIf="onuser">
  <app-form [service]="this.signalRService"></app-form>
</div>
<div *ngIf="onrole">
  <app-form-roles [service]="this.signalRService"> </app-form-roles>
</div>
<div *ngIf="ondept">
  <app-form-dept [service]="this.signalRService"></app-form-dept>
</div>
