<div class="example-container mat-elevation-z8">
  <table mat-table
         [dataSource]="service.tableUsers">

    Position Column
    <ng-container matColumnDef="login">
      <th mat-header-cell
          *matHeaderCellDef>
        Login
      </th>
      <td mat-cell *matCellDef="let element">
        {{element.Login}}
      </td>
    </ng-container>

    Name Column
    <ng-container matColumnDef="password">
      <th mat-header-cell
          *matHeaderCellDef>
        Password
      </th>
      <td mat-cell
          *matCellDef="let element">
        {{element.Pass}}
      </td>
    </ng-container>

    Weight Column
    <ng-container matColumnDef="role">
      <th mat-header-cell
          *matHeaderCellDef>
        Role
      </th>
      <td mat-cell
          *matCellDef="let element">

        {{element.Role}}
      </td>
    </ng-container>

    Symbol Column
    <ng-container matColumnDef="departament">
      <th mat-header-cell
          *matHeaderCellDef>
        Departament
      </th>
      <td mat-cell
          *matCellDef="let element">
        {{element.Dept}}
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="SelectRow(row)">
    </tr>
  </table>
</div>
<!--<form class="example-form">// Наличие этой строки заставляло страницу перезагружаться при нажатии на любую кнопку в компоненте. Не ясное мне событие. Нужно будет разобраться. Не нашел пока даже откуда взялась жта строка.-->
<div class="example-container-fields">
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input (input)="InputStringSave($event, 2)"
           matInput placeholder="Enter your username"
           value="{{elementSelect.Login}}">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input (input)="InputStringSave($event, 1)"
           matInput [type]="hide ? 'password' : 'text'"
           value="{{elementSelect.Pass}}">
    <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select (openedChange)="InputStringSave($event, 1)"
                [(value)]="elementSelect.Role">
      <mat-option *ngFor="let role of service.displayedRoles"
                  [value]="role">{{role}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Departament</mat-label>
    <mat-select (openedChange)="InputStringSave($event, 1)"
                [(value)]="elementSelect.Dept">
      <mat-option *ngFor="let dept of service.displayedDepts"
                  [value]="dept">{{dept}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button
          color="primary"
          (click)="AddUser()">
    Add User
  </button>
  <button disabled="{{ !isselected}}"
          mat-raised-button
          color="primary"
          (click)="UpdateUser()">
    Update User
  </button>
  <button disabled="{{ !isselected}}"
          (click)="DeleteUser()"
          mat-raised-button
          color="primary">
    Delete User
  </button>
</div>
<mat-card class="card-user">
  <p>This User be update or delete:</p>
  <p>Login User: {{elementSelect.Login}}</p>
  <p>Pass User: {{elementSelect.Pass}}</p>
  <p>Role User: {{elementSelect.Role}}</p>
  <p>Dept User: {{elementSelect.Dept}}</p>
</mat-card>
<mat-card class="card-user">
  <p>This User be add:</p>
  <p>Login User: {{inputUserDetails.Login}}</p>
  <p>Pass User: {{inputUserDetails.Pass}}</p>
  <p>Role User: {{inputUserDetails.Role}}</p>
  <p>Dept User: {{inputUserDetails.Dept}}</p>
</mat-card>
